<li id="task-<%= task.id %>">
 <%= task.title  %>
        <% unless task.deadline.nil? %>
          , to read: <%= task.deadline.strftime('%D')  %>
        <% end %> 
        <%= link_to "Delete this task", task_path(task), method: :delete, class: "btn btn-danger", remote: true %>
</li>

